<div class=" content">
  <div class=" row">
    <div class=" col-md-6" *ngFor="let article of article.articles">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">{{article.title}}</h4>
          <img [src]="article.urlToImage" alt="">
        </div>
        <div class=" card-body">
         
          <ngb-alert
            class=" alert-with-icon"
            data-notify="container"
            [type]="'info'"
            *ngIf="!staticAlertClosed2" [dismissible]="false">
              <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close" (click)="staticAlertClosed2 = true">
                <i class="tim-icons icon-simple-remove"></i>
              </button>
            <span class=" tim-icons icon-bell-55" data-notify="icon">
            </span>
            <span data-notify="message">
             {{article.description}}
            </span>
            <a [href]="article.url" target="_blank" class="btn btn-dark">More</a>
          </ngb-alert>
        </div>
      </div>
    </div>

    <!--<div class=" col-md-12">
      <div class=" card">
        <div class=" card-body">
          <div class=" places-buttons">
            <div class=" row">
              <div class=" col-md-6 ml-auto mr-auto text-center">
                <h4 class=" card-title">Notifications Places</h4>
                <p class=" category">Click to view notifications</p>
              </div>
            </div>
            <div class=" row">
              <div class=" col-lg-8 ml-auto mr-auto">
                <div class=" row">
                  <div class=" col-md-4">
                    <button
                      class=" btn btn-danger btn-block"
                      (click)="showNotification('top', 'left')"
                    >
                      Top Left
                    </button>
                  </div>
                  <div class=" col-md-4">
                    <button
                      class=" btn btn-danger btn-block"
                      (click)="showNotification('top', 'center')"
                    >
                      Top Center
                    </button>
                  </div>
                  <div class=" col-md-4">
                    <button
                      class=" btn btn-danger btn-block"
                      (click)="showNotification('top', 'right')"
                    >
                      Top Right
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-lg-8 ml-auto mr-auto">
                <div class=" row">
                  <div class=" col-md-4">
                    <button
                      class=" btn btn-danger btn-block"
                      (click)="showNotification('bottom', 'left')"
                    >
                      Bottom Left
                    </button>
                  </div>
                  <div class=" col-md-4">
                    <button
                      class=" btn btn-danger btn-block"
                      (click)="
                        showNotification('bottom', 'center')
                      "
                    >
                      Bottom Center
                    </button>
                  </div>
                  <div class=" col-md-4">
                    <button
                      class=" btn btn-danger btn-block"
                      (click)="showNotification('bottom', 'right')"
                    >
                      Bottom Right
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>-->
</div>
