

        <agm-map  [latitude]="lat" [longitude]="lng" [zoom]="2" [styles]="styles">

            <agm-marker *ngFor="let marker of marker"  [latitude]="marker.location.lat" [longitude]="marker.location.lng">

                <agm-info-window>
                    <div>
                        <strong class="marcador"> <span class="marcador-title"> {{ marker.countryregion }}</span>  <br>
                            <span class="badge badge-warning marcador-description">Confirmados {{ marker.confirmed }}</span> <br>
                            <span class="badge badge-danger marcador-description">Muertes {{ marker.deaths }}</span><br>
                            <span class="badge badge-success marcador-description">Recuperados {{ marker.recovered }}</span><br>

                        </strong>

                    </div>
                    

                </agm-info-window>

            </agm-marker>

        </agm-map>

