agm-map {
    height: 500px;
  }

  agm-map-container-inner {
    width: inherit;
    height: inherit;
    background-color: chocolate !important;
  }
  agm-map-content {
    display:none;
    background-color: darkcyan !important;
  }

  .elementType, .geometry{
    color: #1d2c4d;

  }

  .featureType, .water{
    color: #4e6d70

  }
  .marcador-title{
    font-size: 18px;
  }
  .marcador-description{
    font-size: 18px;
  }