<div class=" content">
  <div class=" row">
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <div class=" card-body">
            <div class="">
              <table class=" table tablesorter" id="">
                <thead class=" text-primary">
                  <h3 class="text-center">Puerto Rico</h3>
                  <tr class="text-center">
                    <th class="text-warning">Confirmados</th>
                    <th class="text-danger">Muertes</th>
                    <th class="text-success">Recuperados</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="text-center">
                    <td><h1 class="text-warning">68</h1></td>
                    <td><h1 class="text-danger">2</h1></td>
                    <td><h1 class="text-success">{{country[169].recovered}}</h1></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
        
      </div>
    </div>

      <div class=" col-lg-4">
        <div class=" card card-chart">
          <div class=" card-header">
            <div class=" card-body">
              <div class="">
                <table class=" table tablesorter" id="">
                  <thead class=" text-primary">
                    <h3 class="text-center">USA</h3>
                    <tr class="text-center">
                      <th class="text-warning">Confirmados</th>
                      <th class="text-danger">Muertes</th>
                      <th class="text-success">Recuperados</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="text-center">
                      <td><h1 class="text-warning">{{country[155].confirmed}}</h1></td>
                      <td><h1 class="text-danger">{{country[155].deaths}}</h1></td>
                      <td><h1 class="text-success">{{country[155].recovered}}</h1></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <div class=" card-body">
            <div class="">
              <table class=" table tablesorter" id="">
                <thead class=" text-primary">
                  <h3 class="text-center">España</h3>
                  <tr class="text-center">
                    <th class="text-warning">Confirmados</th>
                    <th class="text-danger">Muertes</th>
                    <th class="text-success">Recuperados</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="text-center">
                    <td><h1 class="text-warning">{{country[137].confirmed}}</h1></td>
                    <td><h1 class="text-danger">{{country[137].deaths}}</h1></td>
                    <td><h1 class="text-success">{{country[137].recovered}}</h1></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<div class="container-fluid">
  <app-map></app-map>
</div>
<div class="container-fluid py-5">
  <div class=" row">
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <div class=" card-body">
            <div class="">
              <table class=" table tablesorter" id="">
                <thead class=" text-primary">
                  <h3 class="text-center">Global</h3>
                  <tr class="text-center">
                    <th class="text-warning">Confirmados</th>
                    <th class="text-danger">Muertes</th>
                    <th class="text-success">Recuperados</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="text-center">
                    <td><h1 class="text-warning">{{global.confirmed}}</h1></td>
                    <td><h1 class="text-danger">{{global.deaths}}</h1></td>
                    <td><h1 class="text-success">{{global.recovered}}</h1></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      

  </div>

</div>
  <!--HTML DE TODAS AS GRAFICAS, ESTA APLICANDO NONE PARA OCUTAR, PRECISA COLOCAR UM METODO PARA DEIXAR DE ESCONDER TODO HTML-->